<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Makebot, a bot for Makeschool's Product College Slack">
        <meta name="author" content="Rohan Mishra">
        <title>Makebot</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <h1>Makebot</h1>
    </body>
</html>


